body {margin:0; padding: 0; font-family: "Open Sans", Arial, sans-serif;}
body {background-image:url(../img/bg.png); background-attachment:fixed; color: #585858;}

/*
* Paragraf
*/
.center {
    float: none;
    margin-left: 2px;
}

input.recuperar{
    size: 10px;
    
}
.imgIcon {
    width: 60px;
    height: 50px;
}

.imgGray {
    width: 80px;
    height: 80px;
    margin-top: 5px;
}

p {font-size: 80%; font-weight: 300; color: #333; line-height: 30px;}

.textright {
    
    text-align: right;
}


/*
* Link
*/

a, a:visited {text-decoration: none; color: #585858; padding: 10px;}



/*
* Headings
*/

h1 {font-size: 1.8em; line-height: 1.23em;}
h2 {font-size: 22px;}
h3 {font-size: 24px; font-family: 'Crete Round', Georgia, serif; font-weight: 400; padding: 20px; margin-top: 20px;}
h4 {font-size: 28px;}
h5 {font-size: 16px; padding-bottom: 10px; line-height: 30px;}
h6 {font-size: 14px; padding-bottom: 10px; font-weight: bold;}
h5 b {font-weight: bold;}


/*
* Lista NIE uporzadkowana UL
*/
ul {font-size: 14px; margin: 7px 0; padding-left: 10px;}
ul li {margin-bottom: 5px;}


/*
* divs random
*/
.container .clear, body .clear {width: 100%; float: left; clear: both; margin: 20px 0;}
.one-third {text-align: center;}



/*
* Header 
*/
header {width: 100%; height: 305px; float: left; clear: both; margin:0; padding-top: 40px; margin-bottom: 0; background: url(../img/banner8.png) no-repeat left scroll; position: relative; z-index: 1;} 
header nav {width: 100%; float: left; margin: 0; padding: 15px 0 20px; background: #003366; position: relative; z-index: 1; height: 5px; 
	 box-shadow: 0 1px 2px 0 rgba(0,0,0,.3);
	-moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,.3);
	-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.3);
}
header .slogan {float:left; padding: 20px 0;}
header .slogan a.green {margin: 13px 0; padding: 10px 28px;}
header p {color: #fff;}
header h1, header h2, header h4 {width: 100%; float: left; clear: both;  text-align: left; color: #fff; text-shadow: 0 1px 1px rgba(0,0,0,.2); font-weight: 600;}
header h1 {font-size: 3em; margin-bottom: 10px;}
header h2 {font-size: 2em;}
header h4 {font-weight: normal; margin-bottom: 10px;}
header .icon {display:none;}




/*
* Logo
*/
.logo a {color: #444; text-decoration: none; line-height: 20px;}
.logo a:hover {color: #FF6A00;}




/*
* Menu
*/

ul.mainMenu {margin: 0; padding: 0; float: right;}
ul.mainMenu li {display: inline; float: left; margin: 2px 10px;}
ul.mainMenu li a {font-size: 16px; color: #fff; text-decoration: none;}
ul.mainMenu li a:hover {color: #FF6A00;
	-webkit-transition: color .12s ease-in-out;
    -moz-transition: color .12s ease-in-out;
    -ms-transition: color .12s ease-in-out;
    -o-transition: color .12s ease-in-out;
    transition: color .12s ease-in-out;
}


/* menu dentro do header */

ul.menuH {  padding: 0;
    margin: 10px 0px 20px auto;
    width: 340px; 
	margin-top: 40px;
	}

ul.menuH li {
    width: 330px;
    height: 70px;
    overflow: hidden;
    display: block;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    margin-bottom: 4px;
    -webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;}



ul.menuH li a {
    text-align: left;
    display: block;
    width: 100%;
    height: 100%;
    color: #333;
    position:relative;
}

ul.menuH li:last-child{
    margin-bottom: 0px;
}

.menuH-icon{
    position: absolute;
    width: 80px;
    text-align: center;
    padding-top: 10px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.menuH-content{
    position: absolute;
    left: 85px;
    width: 240px;
    height: 60px;
    top: 10px;
    text-align: center;
}


.menuH-main{
    color: #003366;
    text-align: center;
    font-size: 20px;
    margin-bottom: 5px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}

.menuH-main:hover{
    color: #fff;
   }
   
.menuH-sub{
    font-size: 14px;
    color: #666;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 
}





/* Orange 
*/
.orange {width: 100%; float: left; clear: both; background: #ff6a00; padding: 5px 0; color: #fff; text-align: center; position: relative;z-index: 1; line-height: 20px; margin-bottom: 45px;}
.orange h2 {width: 100%; margin: 10px 0 10px; text-align: center; text-shadow: none; font-size: 24px;}
.orange p {width: 800px; margin: 0 auto 20px; color: #fff; text-align: center; font-size: 18px;}
.orange h1 {width: 100%; margin: 10px; color:#fff; font-size: 18px;}
.orange a.dalej {display: block; width: 185px; background: #df4a00; color: #fff; margin: 0 auto 20px; padding: 10px 10px; font-size: 12px; text-transform: uppercase;
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
}
.orange a.dalej:hover {background: #fff; color: #ff6a00;}


/*
* Gray
*/
.gray {width: 100%; float: left; clear: both; background: #f6f6f6; padding: 0; text-align: center; position:relative; z-index:1; line-height: 20px;}
.gray h2 {width: 100%; margin: 20px 0 20px; text-align: center; text-shadow: none; font-size: 20px;}
.gray p {width: 800px; margin: 0 auto 20px; color: #000; text-align: center; font-size: 16px;}
.gray h1 {font-size: 18px;}




/*
* Form, input, label, textarea
*/
.form h3, .form p {text-align: center;}
form {width: 500px; margin: 30px auto; text-align: center; height: auto;}
input, label, textarea {width: 500px; float: left; margin: 0; padding: 0;}
label {font-size: 12px; text-transform: uppercase; font-weight: 300; margin-bottom: 7px;}
input {margin-bottom: 20px; padding: 7px 0; text-align: center;}
input, textarea {border: 1px solid #ddd; outline: none;}
input:focus, textarea:focus {border-color: #b6b6b6;}
textarea {width: 480px; padding: 7px 10px;}
input.error, textarea.error {border-color: #cc4847;}
input{ text-transform: lowercase;}
form.register fieldset.row1 label.sexo{width: 33px;}

input[type='submit'] {width: 502px; padding: 12px 0; font-size: 16px; border: none; background: #eee; color: #aaa; cursor: pointer;}
input[type='submit']:hover {background: #1EBA6B; color: #fff;}



/*
* Focus
*/
.focus h3 {margin-bottom: 15px;}
.focus h4, .focus h3 {float: left; width: 100%; text-align: center; margin-bottom: 7px;}
.focus p {text-align: center;}



/*
* Gallery
*/
.gallery a {width: 140px; height: 100px; overflow: hidden; float: left; margin: 5px; }
.gallery a img {height: 95px;}




/*
* a#Top
*/
a#top {display: none; width: 7px; height: 17px; padding: 5px; position: fixed; bottom: 50px; right: 60px; z-index: 9; color: #fff; background: #ff6a00; font-size: 14px; font-weight: 300;}






/*
* BUTTONS
*/
.button {float: left; color: #fff; text-transform: uppercase; text-shadow: 0 1px 1px rgba(0,0,0,.2);
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;

	-webkit-transition: background .12s ease-in-out;
    -moz-transition: background .12s ease-in-out;
    -ms-transition: background .12s ease-in-out;
    -o-transition: background .12s ease-in-out;
    transition: background .12s ease-in-out;
}


.medium {font-size: 12px; margin: 5px 0; padding: 9px 14px 8px;}



a.green {background: #45C491; color: #fff;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.2), 0 1px 0 0 rgba(255,255,255,.2) inset;
	-moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,.2), 0 1px 0 0 rgba(255,255,255,.2) inset;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.2), 0 1px 0 0 rgba(255,255,255,.2) inset;
}
a.green:hover {background: #36ae7e}



/*
* Footer
*/
footer {width: 100%; min-height: 140px; float: left; margin: 20px; padding: 30px; background: #003366; margin-top: 10px;}
footer h5 {color: #ccc; margin-top: 10px; line-height: 10px; }
footer p {color: #aaa; line-height: 15px; font-size: 14px; margin-bottom: 7px; margin-top: 10px;}
footer a {color: #ddd; margin-top: 10px;}
footer a:hover {color: #ff6a00;}

footer .social a {float: center; padding: 5px; margin-top: 5px; }
footer .social a img {width: 35px; opacity: 0.4; margin-top: 10px;}
footer .social a:hover img {opacity: 1;}


/* MENU DENTRO DA INDEX DAS CIDADES*/

@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('websymbols/websymbols-regular-webfont.eot');
    src: url('websymbols/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('websymbols/websymbols-regular-webfont.woff') format('woff'),
        url('websymbols/websymbols-regular-webfont.ttf') format('truetype'),
        url('websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.ca-menu{
    padding-left: 30px;
    margin:0 auto;
    width: 100%;
    
}
.ca-menu li{
    
    width: 280px;
    height: 130px;
    overflow: hidden;
    position: relative;
    float: left;
    border: 3px solid #c60;
    background-color: #fff;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    margin-right: 10px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.ca-menu li:last-child{
    margin-right: 0px;
}
.ca-menu li a{
    text-align: left;
    width: 100%;
    height: 100%;
    display: block;
    color: #333;
    position: relative;
}
.ca-icon{
    font-family: 'WebSymbolsRegular', cursive;
    color: #c5e4f4;
    font-size: 90px;
    text-shadow: 1px 0px 1px rgba(255,255,255,0.7);
    line-height: 150px;
    position: absolute;
    width: 100%;
    height: 60%;
    left: 0px;
    top: 0px;
    text-align: center;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
.ca-content{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 40%;
    top: 60%;
}
.ca-main{
    font-size: 30px;
    color: #fff;
    opacity: 0.8;
    background-color: #c60;
    text-align: center;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
.ca-sub{
    text-align:center;
    font-size: 14px;
    color: #fff;
    line-height: 40px;
    opacity: 0.8;
    background-color: #c60;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
.ca-menu li:hover{
    background-color: #fff;
}
.ca-menu li:hover .ca-icon{
    text-shadow: 0px 0px 20px #c5e4f4;
    color: transparent;
    -webkit-animation: moveFromTop 400ms ease;
    -moz-animation: moveFromTop 400ms ease;
    -ms-animation: moveFromTop 400ms ease;
}
.ca-menu li:hover .ca-main{
    color: #000;
    -webkit-animation: moveFromTop 300ms ease;
    -moz-animation: moveFromTop 300ms ease;
    -ms-animation: moveFromTop 300ms ease;
}
.ca-menu li:hover .ca-sub{
    color: #000;
    -webkit-animation: moveFromBottom 500ms ease;
    -moz-animation: moveFromBottom 500ms ease;
    -ms-animation: moveFromBottom 500ms ease;
}
@-webkit-keyframes moveFromTop {
    from {
        -webkit-transform: translateY(-300%);
    }
    to {
        -webkit-transform: translateY(0%);
    }
}
@-moz-keyframes moveFromTop {
    from {
        -moz-transform: translateY(-300%);
    }
    to {
        -moz-transform: translateY(0%);
    }
}
@-ms-keyframes moveFromTop {
    from {
        -ms-transform: translateY(-300%);
    }
    to {
        -ms-transform: translateY(0%);
    }
}

@-webkit-keyframes moveFromBottom {
    from {
        -webkit-transform: translateY(200%);
    }
    to {
        -webkit-transform: translateY(0%);
    }
}
@-moz-keyframes moveFromBottom {
    from {
        -moz-transform: translateY(200%);
    }
    to {
        -moz-transform: translateY(0%);
    }
}
@-ms-keyframes moveFromBottom {
    from {
        -ms-transform: translateY(200%);
    }
    to {
        -ms-transform: translateY(0%);
    }
}


/* FORMS */


form,input,select,textarea{
    margin:5px;
    padding:2px;
    /*color:#ffffff;*/
} 

form.register{
    width:800px;
    margin: 20px auto 0px auto;
    height:1000px;
    background-color:#fff;
    padding:5px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    margin-bottom: 40px;
    
}

#boxForm {
    width:810px;
    margin: 20px auto 0px auto;
    height:1470px;
    background-color:#fff;
    padding:5px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    margin-bottom: 70px;
    
}




form p{
    font-size: 10pt;
    clear:both;
    margin:0;
    color:#000;
    padding:5px;
    height: auto;
}
form.register fieldset.row1
{
    width:770px;
    padding:5px;
    float:left;
    border-top:2px solid #F5F5F5;
    margin-bottom:15px;
}
form.register fieldset.row1 label{
    width:150px;
    float: left;
    text-align: right;
    margin-right: 8px;
    margin-top:10px;
}
form.register fieldset.row2
{
    border-top:1px solid #F1F1F1;
    border-right:1px solid #F1F1F1;
    height:220px;
    padding:5px;
    float:left;
}
form.register fieldset.row3
{
    border-top:1px solid #F1F1F1;
    padding:5px;
    float:left;
    margin-bottom:15px;
    width:400px;
}
form.register fieldset.row4
{
    border-top:1px solid #F1F1F1;
    border-right:1px solid #F1F1F1;
    padding:5px;
    float:left;
    clear:both;
    width:500px;
}

form.register fieldset.buttons{
	width: 400px;
	text-align: right;
	float:right;
	
	}
form.register .infobox{
    float:right;
    margin-top:20px;
    border: 1px solid #F1F1F1;
    padding:5px;
    width:380px;
    height:98px;
    font-size:9px;
    background: #FDFEFA url(../img/bg_infobox.gif) repeat-x top left;
}
form.register legend
{
    color: #c60;
    padding:4px;
    margin-left: 14px;
    margin-bottom: 30px;
    font-weight:bold;
    font-size: 18px;
    font-weight:100;
}
form.register label{
    color:#444;
    width:98px;
    float: left;
    text-align: right;
    margin-right: 6px;
    margin-top:2px;
}
form.register label.optional{
    float: left;
    text-align: right;
    margin-right: 6px;
    margin-top:2px;
    color: #A3A3A3;
}
form.register label.obinfo{
    float:right;
    padding:3px;
    font-style:italic;
}
form.register input{
    width: 140px;
    color: #505050;
    float: left;
    margin-right: 5px;
}
form.register input.long{
    width: 547px;
    color: #505050;
}
form.register input.short{
    width: 40px;
    color: #505050;
}
form.register input[type=radio]
{
    float:left;
    width:15px;
}
form.register label.gender{
    margin-top:-1px;
    margin-bottom:2px;
    width:34px;
    float:left;
    text-align:left;
    line-height:19px;
}
form.register input[type=text]
{
    border: 1px solid #E1E1E1;
    height: 18px;
}
form.register input[type=password]
{
    border: 1px solid #E1E1E1;
    height: 18px;
}

.button
{
    background: #abda0f url(../img/overlay.png) repeat-x;
    padding: 8px 10px 8px;
    color: #fff;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    cursor: pointer;
    float:right;
    font-size:14px;
    margin:10px;
	text-transform: none;
}

form.register input[type=text].year
{
    border: 1px solid #E1E1E1;
    height: 18px;
    width:30px;
}
form.register input[type=checkbox] {
    width:14px;
    margin-top:4px;
}
form.register select
{
    border: 1px solid #E1E1E1;
    width: 130px;
    float:left;
    margin-bottom:3px;
    color: #505050;
    margin-right:5px;
}
form.register select.date
{
    width: 40px;
}

	

input:focus, select:focus{
    background-color: #efffe0;
}
p.info{
    font-size:7pt;
    color: gray;
}
p.agreement{
    margin-left:15px;
}
p.agreement label{
    width:390px;
    text-align:left;
    margin-top:3px;
}




/* -------------------
*  RESPONSIVE ELEMENTS
*  ------------------- */
@media only screen and (max-width: 767px) and (min-width: 480px) {

	header {height: 210px;}
	header .slogan {padding-top: 40px;}

	nav .container .logo {margin-bottom: 20px; text-align: center;}

	.orange p {width: 400px;}
       

	form, label, input  {width: 400px;}
	input[type="submit"] {width: 402px;}
	textarea {width: 380px;}

	.container .one-third.column, .container .eight.columns, .container .four.columns {margin-bottom: 40px;}
        
        .ca-menu{
        padding-left: 0px;
        margin-left: 0px;
        }
        
        .ca-menu li{
        width: 150px;
        height: 100px;
        }
}



@media only screen and (max-width: 767px) {

	header {background-image: url('../img/bannercel.png');
                    background-repeat: no-repeat;
                    background-attachment: scroll;
                    background-position: 35px 55px; 
                    height: 400px;} 
	    
       	
        .orange p {width: 200px; font-size: 14px;}
        .orange h1{font-size: 16px;}
        .orange h2 {font-size: 18px;}
        
        .gray p {width: 200px; font-size: 14px;}
        .gray h1{font-size: 16px;}
        .gray h2 {font-size: 18px;}
               
	form, label, input  {width: 300px;}
	input[type="submit"] {width: 302px;}
	textarea {width: 280px;}

	.container .one-third.column, .container .eight.columns, .container .four.columns {margin-bottom: 40px;}
        
        .container .ten.columns {height: 0px; margin-left: 0px; padding: 0;}
        .container .six.columns {padding:0; margin: 0;}

       
       .ca-menu li{
        width: 250px;
        height: 150px;
        
        }
       
        ul.menuH {
            margin-top: 170px;
            width: 320px;
            
        }
        
        ul.menuH li {
            width: 310px;
        }
        
        .menuH-main{
         font-size: 16px;
        }
        
        .menuH-sub{
        font-size: 12px;
        }
        
        .menuH-content{
        left: 85px;
        width: 220px;
    }
        
        ul.mainMenu li a {font-size: 10px; color: #fff; text-decoration: none; margin-bottom: 5px;}
        
        .imgIcon { width: 50px; height: 45px;}
        
        /* FORMS */


form.register{
    width:300px;
    margin-bottom: 10px;
    height:1000px;
    }

#boxForm {
    width:310px;
    padding:0px;
    margin-left: 0px;
    height: 1100px;
    }

form p{
    font-size: 6pt;
    clear:both;
    margin:0;
    color:#000;
    padding:3px;
    height: auto;
}
form.register fieldset.row1
{
    width:290px;
    }
form.register fieldset.row1 label{
    width:60px;
    margin-right: 3px;
    margin-top:10px;
}

form.register fieldset.buttons{
	width: 350px;
	}
        
form.register legend
{
    color: #c60;
    padding:2px;
    margin-left: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    
}

form.register input.long{
    width: 200px;
    }
form.register input.short{
    width: 30px;
    color: #505050;
}


        
}


@media print {
  body *{
    visibility: hidden;
  }
  ul.menuH{
    visibility: hidden;
	display: none;
  }
  section#printable, #printable * {
    visibility: visible;
  }
  
  section#printable, #printable button{
    visibility: hidden;
  }
  
  section#printable {
    position: fixed;
    left: 0;
    top: 0;
  }
}

